.UserInputContainer {
    width: 40%;
    margin: 16px;
    padding: 16px;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 3px  rgb(155, 155, 155);
    align-items: center;
}
.UserInputContainer:focus{
    background-color: #e3e3e3;
    color: #597adf;
}

.Input {
    width: 80%;
    margin: 16px;
    padding: 8px auto;
    align-items: center;
}